[class*="__container"] {
    @if ($maxWidthContainer > 0) {
        width: 100%;
        max-width: rem($maxWidthContainer);
        margin: 0 auto;
    }
    @if ($containerPadding > 0) {
        padding: 0 rem(math.div($containerPadding, 2));
    }
}
