// Colors
$primary: #215EF8;

// Fonts types
$default-font: 'Lato', sans-serif;

// Font sizes
$fz-base: 10px;

// Shadows
$box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);

// Breakpoints
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1140;
$xs: 575;
$sm: 767;
$md: 991;
$lg: 1199;
$xl: 1200;
$breakpoints: (
        'xs': (max-width: $xs + px),
        'sm': (max-width: $sm + px),
        'md': (max-width: $md + px),
        'lg': (max-width: $lg + px),
        'xl': (min-width: $xl + px),
);
