<!--Header-->
<header class="header">
    <div class="header__container">
        <div class="header__menu menu">
            <button type="button" class="menu__icon icon-menu">
                <span></span>
            </button>
            <nav class="menu__body">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="" class="menu__link">text1</a>
                    </li>
                    <li class="menu__item">
                        <a href="" class="menu__link">text2</a>
                    </li>
                    <li class="menu__item">
                        <a href="" class="menu__link">text3</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!--/Header-->
