<!--Popups-->
<!-- Button trigger modal -->
<button type="button" data-pwc-toggle="modal" data-pwc-target="#exampleModal">
    Launch demo modal1
</button>
<!-- Modal -->
<div class="modal" id="exampleModal">
    <div class="modal__dialog">
        <div class="modal__content">
            <div class="modal__header">
                <h5 class="modal__title" id="exampleModalLabel">Modal title1</h5>
                <button type="button" class="modal__btn-close" data-pwc-dismiss="modal">X</button>
            </div>
            <div class="modal__body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis exercitationem fugit hic illo iure
                    pariatur perferendis quis sed? Beatae corporis dignissimos, distinctio exercitationem id ipsa
                    laborum nobis odit officiis quaerat quis quisquam, recusandae, voluptate? Officiis!1</p>
            </div>
            <div class="modal__footer">
                <button type="button" data-pwc-dismiss="modal">Close</button>
                <button type="button">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--/Popups-->
